h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: #ef6a144d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin: none;
}

svg {
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
}

g {
  color: #1d1f20;
}

#canvas {
  min-height: 600px;
  min-width: 1000px;
}

#legend {
  color: rgb(56, 58, 74);
  font-size: 18px;
  text-align: center;
  min-height: 280px;
  max-width: 180px;
  margin-top: 20px;
  margin-bottom: 40px;
}

#tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 10px;
  visibility: hidden; /* This changes dynamically */
  pointer-events: none; /* Ensures it doesn't interfere with hovering */
  z-index: 10; /* Ensure it's above other elements */
}

#tooltip hr {
  width: "80%";
  color: #1d1f20;
  background-color: #1d1f20;
  height: 1px;
  border: none;
}
